* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .App {
    background-color: rgb(32, 16, 65);
    width: 100vw;
  }
  .container {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .app-center {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
  }

  .footer-charts {
    display: flex;
    gap: 20px;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
  }